body{
    color: rgb(4, 41, 252) ;
}
a{
   color: rgb(255, 0, 0) ;
   text-emphasis: none;
}
a:hover {
color:#6fe71f;
text-decoration: underline
}

ul {text-align: left;
    display: inline;
      
  }
  ul li { display: inline-block;
    margin-right: 40px;
      }






i{
    display: block;
    padding: 10px;
    background: #eee;
  }
  .b-c{
    color: rgba(0, 0, 255, 0.5);
  }
  .b-c-f{
    color: rgba(255, 0, 0, 0.5);
  }
  .container{
    background: rgba(0, 0, 255, 0.5);
  }
  .container-fluid{
    background: rgba(255, 0, 0, 0.5);
  }
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <div class="container">
    <i><b class="b-c">container</b></i>
  </div>
  <br>
  <div class="container-fluid">
    <i><b class="b-c-f">container-fluid</b></i>
  </div>
  <br>
  <div class="container">
    <div class="container">
      <i><b class="b-c">container</b> > <b class="b-c">container</b></i>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="container-fluid">
      <i><b class="b-c">container</b> > <b class="b-c-f">container-fluid</b></i>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="container-fluid">
      <i><b class="b-c-f">container-fluid</b> > <b class="b-c-f">container-fluid</b></i>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="container">
      <i><b class="b-c-f">container-fluid</b> > <b class="b-c">container</b></i>
    </div>
  </div>
  <br>