body{
    color: rgb(4, 41, 252) ;
}
a{
   color: rgb(255, 0, 0) ;
   text-emphasis: none;
}
a:hover {
color:#6fe71f;
text-decoration: underline
}


ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 14.8px 3px 15px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(19, 18, 18, 0.23);
    box-shadow: 0 0 5px rgba(29, 27, 27, 0.24);
  }
  ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -3.9px;
    position: relative;
    padding: 14.9px 18px;
    background: #f9f4f4;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 1.3s;
  }
